.additional-products {
  width: 280px;
  margin: 0 auto 39px auto;
}

.additional-products__title {
  margin: 27px 0 35px 0;
  font-family: @font-family-base;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @color-black;
}

.additional-products__list {
  .reset-list();
}

.additional-products__item {
  border-top: 1px solid #e6e6e6;
}

.additional-products__item:last-of-type {
  border-bottom: 1px solid #e6e6e6;
}

.additional-products__heading {
  margin: 12px 0 9px 0;
  padding: 0;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.additional-products__button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 17px;
  padding: 10px 0 10px 0;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.additional-products__characteristics {
  border-collapse: collapse;
  width: 100%;
  line-height: 14px;
}

.additional-products__value {
  padding: 5px 0;
  text-align: right;
}

@media screen and (min-width: @tablet-width) {
  .additional-products {
    width: 708px;
  }

  .additional-products__title {
    position: relative;
    width: 375px;
    margin: -72px 0 80px 0;
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
    background-color: @color-white;
  }

  .additional-products__title::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 21px;
    left: -37px;
    width: 768px;
    height: 3px;
    background-color: @color-green;
  }

  .additional-products__list {
    display: flex;
    flex-direction: column;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-products__item {
    margin-bottom: 0;
    padding: 27px 38px;
    border: 1px solid #d9d9d9;
  }

  .additional-products__item:not(:last-of-type) {
    border-bottom: none;
  }

  .additional-products__heading {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__characteristics {
    width: 287px;
    margin: 0 0 5px 0;
    padding: 0;
  }

  .additional-products__characteristics td {
    text-align: right;
  }

  .additional-products__field {
    width: 192px;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__value {
    width: 95px;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: @desktop-width) {
  .additional-products {
    width: 895px;
  }

  .additional-products__button {
    width: 245px;
  }

  .additional-products__item {
    display: flex;
    justify-content: space-between;
  }

  .additional-products__field {
    width: 192px;
  }
}
