.button {
  font-family: @font-family-base;
  text-transform: uppercase;
  color: @color-white;
  background-color: @color-green;
}

.button--theme-grey {
  color: @color-black;
  background-color: @color-light-grey;
}
