.button {
  font-family: @ffam-base;
  text-transform: uppercase;
}

.button--theme-green {
  color: #ffffff;
  background-color: #68b738;
}

.button--theme-grey {
  color: #111111;
  background-color: #f2f2f2;
}
