.card-product__heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  color: @color-black;
}

.card-product__product-characteristics {
  font-family: @font-family-content;
  font-size: 12px;
  line-height: 16px;
  font-weight: 200;
  color: @color-grey;
}

.card-product__button {
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .card-product__button {
    width: 250px;
  }
}

@media (min-width: @tablet-width) {
  .card-product__button {
    width: 170px;
  }
}
