.catalog-main {
  .container();
}

.catalog-main__heading-page {
  .title();
  margin-left: 20px;
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .catalog-main__heading-page {
    margin: 53px 0 163px 30px;
    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__heading-page {
    margin: 85px 0 163px 40px;
  }

  .catalog-main__wrapper-additional-products {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }
}
