.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  .reset-list();
}

.catalog__item {
  border-top: 1px solid #ededed;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 708px;
    padding: 0 30px 0 30px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 324px;
    min-height: 575px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1220px;
    padding: 0 40px 0 40px;
  }

  .catalog__item {
    width: 245px;
    min-height: 500px;
  }

  .catalog-main__wrapper-additional-products {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}
