.catalog {
  .container();
}

.catalog__list {
  .reset-list();
}

.catalog__item {
  border-top: 1px solid #ededed;
}

@media screen and (min-width: @tablet-width) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    border-top: none;
    margin-bottom: 138px;
  }

  .catalog__item:nth-last-child(1),
  .catalog__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .catalog__item:last-child {
    border: 1px solid #e6e6e6;
  }
}

@media screen and (min-width: @desktop-width) {
  .catalog {
    padding: 0 40px;
  }

  .catalog__item:nth-last-child(1),
  .catalog__item:nth-last-child(2),
  .catalog__item:nth-last-child(3),
  .catalog__item:nth-last-child(4) {
    margin-bottom: 0;
  }
}
