.contacts {
  position: relative;
  background-color: @color-light-grey;
}

.contacts__cooperation {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 5px 20px 0 20px;
  margin: 0 auto;
}

.contacts__cooperation b {
  width: 140px;
  padding-top: 21px;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  color: @color-black;
  text-transform: uppercase;
}

.contacts__cooperation p {
  width: 140px;
  padding-top: 7px;
  padding-bottom: 10px;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .contacts__cooperation {
    width: 708px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
  }
}
