.contacts {
  position: relative;
  background-color: @color-white;
}

.contacts__cooperation {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 5px 20px 0 20px;
  margin: 0 auto;
}

.contacts__cooperation b {
  width: 140px;
  padding-top: 21px;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-black;
  text-transform: uppercase;
}

.contacts__cooperation p {
  width: 140px;
  padding-top: 7px;
  padding-bottom: 10px;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
  height: 362px;
  margin: 0 auto;
  background-image: url("../img/map.png");
}

@media screen and (min-width: @tablet-width) {
  .contacts {
    background-color: @color-white;
  }

  .contacts__map {
    height: 395px;
  }

  .contacts__cooperation {
    width: 632px;
    padding: 45px 68px;
    margin: 0 auto;
  }

  .contacts__cooperation b {
    width: 170px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__cooperation p {
    width: 160px;
    text-align: right;
  }
}

@media screen and (min-width: @desktop-width) {
  .contacts__cooperation {
    position: absolute;
    top: 40px;
    left: 40px;
    justify-content: flex-start;
    width: 570px;
    padding: 0;
    background-color: @color-white;
  }

  .contacts__cooperation b {
    margin: 65px 93px 65px 75px;
  }

  .contacts__cooperation p {
    margin: 65px 0 65px 0;
    text-align: left;
  }

  .contacts__map {
    height: 400px;
  }
}
