.cooperation__heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  color: @color-black;
  text-transform: uppercase;
}

.cooperation__adds {
  font-family: @font-family-content;
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  color: @color-grey;
}
