.copyright {
  padding: 32px 0 41px 0;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
}

.copyright__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: @color-grey;
  text-decoration: none;
}

.copyright__link::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 250px;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}
