@media (min-width: @desktop-width) {
  .desktop-header-background {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 760px 0;
    background-size: 680px 700px;

  }
}
