.label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 200;
  color: #222222;
  text-transform: uppercase;
}

.input {
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 1;
  padding: 15px 5px 15px 15px;
  border: 1px solid #e6e6e6;
}
