.more-products {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ededed;
}

.more-products::after,
.more-products::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 145px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}

.more-products::before {
  transform: rotate(90deg);
}

.more-product__all-goods {
  display: block;
  margin-top: 79px;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-black;
  text-transform: uppercase;
}

.more-product__slogan {
  margin: 9px 0 20px 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

.more-product__button {
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-decoration: none;
}

@media screen and (min-width: @tablet-width) {
  .more-product {
    padding: 0 37px;
    border: 1px solid #e6e6e6;
  }

  .more-products::after,
  .more-products::before {
    top: 85px;
    left: 133px;
    width: 60px;
  }

  .more-product__all-goods {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    font-size: 20px;
  }

  .more-product__slogan {
    width: 169px;
    margin: 22px auto 85px auto;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .more-product__button {
    width: 250px;
    margin: 0 auto 40px auto;
  }
}

@media screen and (min-width: @desktop-width) {
  .more-products::after,
  .more-products::before {
    top: 85px;
    left: 93px;
    width: 60px;
  }

  .more-product__button {
    width: 170px;
  }
}
