.more-product__all-goods {
  font-size: 16px;
  line-height: 20px;
  color: @color-black;
  text-transform: uppercase;
}

.more-product__slogan {
  font-size: 12px;
  line-height: 16px;
}

.more-product__button {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
