.page-header {
  .container();
}

.page-header__wrap-logo {
  padding: 11px 0 12px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.page-header__logo-image-icon {
  width: 33px;
  height: 38px;
}

.page-header__logo-image-name {
  width: 101px;
  height: 18px;
  padding-top: 20px;
  margin-left: 53px;
}

@media screen and (min-width: @tablet-width) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-header__wrap-logo {
    padding: 24px 0 0 0;
    border-bottom: none;
  }

  .page-header__logo-image-icon {
    width: 71px;
    height: 58px;
  }

  .page-header__logo-image-name {
    width: 85px;
    height: 17px;
    padding-bottom: 18px;
    margin-left: 14px;
  }
}

@media screen and (min-width: @desktop-width) {
  .page-header {
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-header__wrap-logo {
    padding: 54px 0 0 0;
  }

  .page-header__logo-image-icon {
    height: 59px;
  }

  .page-header__logo-image-name {
    width: 119px;
    height: 23px;
    padding-bottom: 14px;
    margin-left: 10px;
  }
}
