.page-footer {
  .container();
  padding: 0 20px;
  background-color: @color-light-grey;
}

.page-footer__logo-wrap {
  display: flex;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 16px;
}

.page-footer__logo {
  margin: 0 auto;
}

@media screen and (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 30px 62px 30px;
  }

  .page-footer__logo-wrap {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__wrap {
    width: 100%;
    background-color: @color-light-grey;
  }
}

@media screen and (min-width: @desktop-width) {
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 35px 62px 35px;
  }

  .page-footer__logo-wrap {
    margin: 0;
    padding: 0;
  }
}
