.picking-program__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  color: @color-black;
  text-transform: uppercase;
}

.picking-program__list {
  .reset-list();
}

.picking-program__fieldset {
  border: none;
}

.picking-program__legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  color: @color-black;
}

.picking-program__button {
  border: none;
}

.picking-program__input-text::placeholder,
.picking-program__textarea::placeholder {
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 18px;
  font-weight: 200;
  color: @color-grey;
  text-transform: uppercase;
}

.picking-program__footnote {
  font-family: @font-family-content;
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  color: @color-grey;
}
