.picking-program {
  width: 280px;
  padding: 0 20px 0 20px;
}

.picking-program__text {
  width: 235px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  color: @color-black;
  text-transform: uppercase;
}

.picking-program__list {
  .reset-list();
}

.picking-program__item {
  margin-bottom: 15px;
}

.picking-program__fieldset {
  padding: 35px 0 23px 0;
  margin: 0;
  border: none;
}

.picking-program__legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  color: @color-black;
}

.picking-program__label {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.picking-program__label-toogle {
  margin-left: 45px;
}

.picking-program__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 5px 15px 15px;
  border: 1px solid #e6e6e6;
}

.picking-program__button {
  padding: 10px 0 10px 0;
  width: 100%;
  border: none;
}

.picking-program__input-text::placeholder,
.picking-program__textarea::placeholder {
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 18px;
  font-weight: 200;
  color: @color-grey;
  text-transform: uppercase;
}

.picking-program__footnote {
  display: block;
  margin-top: 20px;
  font-family: @font-family-content;
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  color: @color-grey;
  text-align: center;
}
