.program-banner {
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.program-banner__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
  color: @color-white;
}

.program-banner__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  color: @color-white;
  text-transform: uppercase;
}

.program-banner__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  padding: 11px 72px;
}
