.program-form-main {
  width: 320px;
  margin: 0 auto;
}

.program-form-main__heading-page {
  .title();
  margin-left: 20px;
}

@media screen and (min-width: @tablet-width) {
  .program-form-main {
    width: @tablet-width;
  }

  .program-form-main__heading-page {
    font-size: 60px;
  }
}

@media screen and (min-width: @desktop-width) {
  .program-form-main {
    width: @desktop-width;
  }
}
