.program-form-main {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .picking-program {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .picking-program {
    width: 1440px;
  }
}

.program-form-main__heading-page {
  .title();
  margin-left: 20px;
}
