.program-banner {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(#63a73a 305px, #ffffff 180px);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .program-banner {
    width: 708px;
    padding: 0 30px 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .program-banner {
    width: 1220px;
    padding: 0 110px 0 110px;
  }
}

.program-banner__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
  color: @color-white;
}

.program-banner__slogan {
  margin-top: -5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  color: @color-white;
  text-transform: uppercase;
}

.program-banner__product {
  margin: 25px 0 0 20px;
}

.program-banner__button {
  order: 2;
  padding: 11px 72px;
  margin: 4px 20px 0 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .program-banner__button {
    order: 0;
  }
}
