.promo {
  position: relative;
  width: 280px;
  height: 290px;
  margin: 0 auto 35px auto;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__slogan {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding-top: 185px;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  text-align: center;
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 60px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .promo {
    width: 708px;
    height: 200px;
    margin-top: 65px;
  }

  .promo__slogan {
    margin: 0 85px 0 auto;
    padding-top: 72px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin: 80px 0 0 0;
    padding: 190px 27px 30px 27px;
  }

  .promo-slogan {
    text-align: center;
  }
}
