.real-example {
  background-color: #f2f2f2;
}

.real-example__heading {
  .title;
}

.real-example__text {
  font-family: @ffam-content;
  .content-font;
}

.real-example__stats {
  padding: 0;
  margin: 0;
}

.real-example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  text-transform: uppercase;
}

.real-example__field {
  font-size: 12px;
  line-height: 12px;
  font-weight: 200;
  color: #444444;

  padding: 0;
  margin: 0;
}

.real-example__totals {
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.real-example__scale-before,
.real-example__scale-after {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  text-transform: uppercase;
}
