.real-example {
  .container();
  background-color: @color-light-grey;
}

.real-example__history {
  width: 280px;
  padding: 0 20px 0 20px;
  margin: 0 auto 33px auto;
}

.real-example__heading {
  .title();
  padding: 18px 0 0 0;
  margin: 0;
}

.real-example__text {
  display: block;
  padding: 10px 5px 0 0;
}

.real-example__stats {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 24px 0 20px 0;
}

.real-example__value {
  display: block;
  width: 123px;
  padding: 13px 0 16px 0;
  font-family: @font-family-base;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}

.real-example__field {
  display: block;
  width: 90px;
  padding: 0;
  margin: -8px 0 0 15px;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  background-color: @color-light-grey;
}

.real-example__totals {
  display: block;
  margin-left: 3px;
  font-family: @font-family-base;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.real-example__galery {
  width: 320px;
  margin: 0 auto;
}

.real-example__list {
  position: relative;
  height: 270px;
}

.real-example__item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: @color-light-grey;
}

.real-example__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.real-example__scale {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.real-example__toogls {
  position: relative;
  margin-right: 16px;
  margin-left: 16px;
  width: 84px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.real-example__totals br {
  display: none;
}

.real-example__toogle {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  margin: auto 0;
  background-color: @color-green;
  border-radius: 10px;
}

@media screen and (min-width: @tablet-width) {
  .real-example {
    padding-bottom: 75px;
    background-image: linear-gradient(#ffffff 620px, #f2f2f2 467px);
  }

  .real-example__history {
    width: 708px;
    padding: 0 30px 0 30px;
  }

  .real-example__heading {
    font-size: 60px;
    padding: 3px 0 38px 0;
  }

  .real-example__text {
    width: 680px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .real-example__wrapper-stats {
    display: flex;
    justify-content: space-between;
  }

  .real-example__wrapper-item {
    margin-right: 42px;
  }

  .real-example__item {
    width: 677px;
    height: 517px;
    background-color: @color-white;
  }

  .real-example__value {
    width: 161px;
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px;
    color: @color-black;
  }

  .real-example__field {
    width: 134px;
    font-size: 14px;
    line-height: 14px;
    background-color: @color-white;
  }

  .real-example__field br {
    display: none;
  }

  .real-example__totals {
    margin-top: 35px;
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
    text-align: right;
  }

  .real-example__totals br {
    display: inline;
  }

  .real-example__totals span {
    display: block;
    padding-top: 8px;
  }

  .real-example__galery {
    width: 708px;
    padding: 0 30px 0 30px;
  }

  .real-example__list {
    height: 542px;
  }

  .real-example__overflow {
    overflow: hidden;
  }

  .real-example__item--before {
    left: 0;
  }

  .real-example__item--after {
    right: 0;
    width: 50%;
  }

  .real-example__controls {
    width: 580px;
    margin: 20px auto 0 auto;
  }

  .real-example__scale {
    position: relative;
    font-size: 20px;
  }

  .real-example__scale::before {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 47px;
    border-bottom: 1px dotted #bebebe;
  }

  .real-example__toogls {
    position: relative;
    width: 428px;
    height: 6px;
    margin-right: 21px;
    margin-left: 21px;
    background-color: #dcdcdc;
    border: none;
  }

  .real-example__toogle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -17px;
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .real-example__toogle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @color-green;
  }
}

@media screen and (min-width: @desktop-width) {
  .real-example {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    border: none;
    background-image: linear-gradient(#ffffff 170px, #f2f2f2 170px);
  }

  .real-example__heading {
    padding: 35px 0 120px 10px;
  }

  .real-example__history {
    width: 610px;
  }

  .real-example__text {
    width: 435px;
    padding: 10px 0 0 10px;
    margin-bottom: 0;
  }

  .real-example__overflow {
    width: 50%;
  }

  .real-example__galery {
    width: 610px;
  }

  .real-example__list {
    height: 520px;
  }

  .real-example__wrapper-stats {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 10px;
  }

  .real-example__wrapper-item {
    margin-right: 40px;
  }

  .real-example__stats {
    justify-content: flex-start;
  }

  .real-example__field {
    background-color: #f2f2f2;
  }

  .real-example__totals br {
    display: none;
  }

  .real-example__totals {
    margin-left: 0;
    text-align: left;
  }

  .real-example__totals span {
    display: inline-block;
    padding-top: 0;
    padding-left: 60px;
  }
}
