.no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

.title() {
  font-family: @font-family-base;
  font-size: 36px;
  line-height: 60px;
  font-weight: 200;
  color: @color-black;
}

.reset-list() {
  padding: 0;
  margin: 0;
  list-style: none;
}

.how-it-works-icon() {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @color-green;
  background-repeat: no-repeat;
  background-position: center;
}
